        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">About Us</h2>
                            <p class="card-text">We are a group of motivated full stack development students in the Columbia University Coding Bootcamp.</p>
                            <p class="card-text">This is our second group fullstack project, to test and demonstrate our skills in creating and deploying an in-depth functional web application</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img id="logo" src="/images/logo.png" alt="logo">
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Our Goal</h2>
                            <p class="card-text">The goal of this app is to assist the user in making informed and healthy decisions in their daily eating habits.</p>
                            <p class="card-text">Users can look up any ingredient they want and get detailed and accurate nutritional information.</p>
                            <p class="card-text">Ingredients can also be put in to give recipe ideas so that you can make a delicious meal with whatever you have.</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
             {{#if loggedIn}}
            <a class='btn btn-primary' href='/' role='button' id='logoutBTN'>Logout</a>
            {{else}}
            <a class="btn btn-primary" href="/login" role="button">Login</a>
            <a class="btn btn-primary" href="/signup" role="button">Sign-Up</a>
            {{/if}}
        </div>