        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col">
                    <h2>About Us</h2>
                    <p>We are a group of motivated full stack development students in the Columbia University Coding Bootcamp.</p>
                    <p>This is our second group fullstack project, to test and demonstrate our skills in creating and deploying an in-depth function web application</p>
                </div>
                <div class="col">
                    <img id="logo" src="/images/logo.png" alt="logo">
                </div>
                <div class="col">
                    <h2>Our Goal</h2>
                    <p>The goal of this app is to assist the user in making informed and healthy decisions in their daily eating habits.</p>
                    <p>Users can look up any ingredient they want and get detailed and accurate nutritional information.</p>
                    <p>Ingredients can also be put in to give recipe ideas so that you can make a delicious meal with whatever you have.</p>
                </div> 
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/login" role="button">Login</a>
            <a class="btn btn-primary" href="/signup" role="button">Sign-Up</a>
        </div>