 <div class="container text-center">
    <div class="row align items-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">My Profile</h2>
                    <p>Email: {{email}}</p>
                    <p>Username: {{name}}</p>
                    <button class="btn btn-primary" id="logoutBTN">Log-Out</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='/js/logout.js'></script>