 <div class="container text-center">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="card border-warning mb-3" style="max-width: 540px; padding:3px;">
                <div class="card-body">
                    <h2 class="card-title">My Profile
                    <p>Email: {{email}}</p>
                    <p>Username: {{name}}</p>
                    <button class="btn btn-primary" id="logoutBTN">Log-Out</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='/js/logout.js'></script>