 <div class="container text-center">
    <div class="row align-items-center">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">Search</h2>
                    <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <select class="form-select" aria-label="Default select example" id="search-method">
                        <option disabled selected>Select a Search Method</option>
                        <option value="1">Search By Ingredients</option>
                        <option value="2">Search By Nutrients</option>
                    </select> 
                    <button type="submit" class="btn btn-primary" type="submit">Search</button>
                    </form>       
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">Results</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla vel, blanditiis excepturi a sapiente quidem odio magnam voluptas assumenda temporibus at qui ipsa eligendi, reiciendis sequi eius molestiae repudiandae.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/search.js"></script>
 </div>