:root {
    --lightblue: #6a95c2;
    --brown: #803900;
    --orange: #ff9844;
    --darkblue: #274666;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--orange);
}

a {
    color: var(--orange);
    text-decoration: none;
}

body {
    background-color: var(--lightblue);
}

header {
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    background-color: var(--darkblue);
    font-size: 20px;
}

.nav-link {
    font-size: 24px;
    color: var(--orange);
}


main {
    /* text-shadow: 0px 0px 3px black; */
    min-height: 70vh;
}

.container {
    padding-bottom: 25px;
}

.card {
    background-color: var(--darkblue);
}

.card-title {
    color: var(--lightblue);
}

footer {
    bottom: 0;
    height: 15%;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--darkblue);
    text-align: center;
}


#logo {
    max-width: 320px;
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
  