:root {
    --lightblue: #6a95c2;
    --brown: #803900;
    --orange: #ff9844;
    --darkblue: #274666;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--orange);
}

a {
    color: var(--orange);
    text-decoration: none;
}

hr.dotted {
    border-top: 3px dotted #bbb;
    margin-top: 16px;
}

body {
    background-color: var(--lightblue);
}

header {
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    background-color: var(--darkblue);
    font-size: 20px;
}

.nav-link {
    font-size: 24px;
    color: var(--orange);
}


main {
    min-height: 70vh;
}

.container {
    padding-bottom: 25px;
}

.card {
    background-color: var(--darkblue);
    color: var(--orange);
    border-radius: 12px;
    box-shadow: 0px 0px 12px var(--orange);
}

.card-title {
    color: var(--orange);
}

.card-subtitle {
    color: var(--lightblue);
}

footer {
    bottom: -1;
    height: 15%;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--darkblue);
    text-align: center;
}


#logo {
    max-width: 320px;
}

.image-card {
    max-width: 60vw;
}

hr.dotted {
    border-top: 3px dotted #bbb;
}