:root {
    --lightblue: #6a95c2;
    --brown: #803900;
    --orange: #ff9844;
    --darkblue: #274666;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--orange);
}

a {
    color: var(--orange);
    text-decoration: underline;
}

body {
    background-color: var(--lightblue);
}

header {
    top: 0;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    background-color: var(--darkblue);
}

main {
    text-shadow: 0px 0px 2px black;
    min-height: 70vh;
}

footer {
    bottom: 0;
    height: 15%;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--darkblue);
    text-align: center;
}


#logo {
    max-width: 320px;
}

